@text-color: #444;
@hover-color: black;

.fix-top-margin {
    margin-top: 80px;
}

.gd {
    position: absolute !important;
    float: none !important;
    left: 80px !important;

    .hidden {
        display: none !important;
    }

    @media only screen and (max-width: 767px) {
        display: none !important;
    }
}

/* Active links */

.current-menu-item, .current_page_item, .current-page-ancestor {
    a {
        color: @hover-color !important;
    }
}

/* Style navigation links */

.transparent {
    background: transparent !important;
    @media only screen and (min-width: 768px) {
        .nav {
            background: transparent !important;

            a {
                color: white !important;

                &:hover {
                    color: white !important;
                }
            }

            .gd a {
                color: black !important;
            }
        }
    }
    
}

.navbar {
    height: 80px;
    background: white;
    z-index: 9999;

    .collapse.in {
        max-height: none;

        ul {
            height: 100%;
        }
    }
}

.nav {
    background: white;
    width: 100%;

    @media only screen and (max-width: 767px) {
        float: right;
        width: 75%;
    }

    .nav-items {
        float: right;
    }

    li {
        text-align: center;
        z-index: 100;
        display: inline-block;

        @media only screen and (max-width: 767px) {
            display: block;
            text-align: left;
            float: none;
        }

        a {
            padding: 1px 0 1px 0;
            margin: 25px;
            color: @text-color;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: lowercase;

            &:hover {
                background: none;
                color: @hover-color;
                text-decoration: none;
            }

            @media only screen and (max-width: 767px) {
                padding-top: 40px;
                padding-bottom: 40px;
                padding: 35px 0 35px 10px;
                font-size: 32px;
            }
        }
    }
}

/* Style menu icon */

.navbar-toggle {
    margin: 0;
    border: 0;
    padding: 25px;
    height: 30px;
}

#nav-icon {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: black;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon.open span {
    background: @hover-color;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}