

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 80%;

    .map {
        display: block;
        background: url(../images/europe2.svg) no-repeat top center;
        background-size: contain;
        width: 100%;
        height: 150%;
        position: absolute;
        top: 0;
        left: 0;

        .locations {
            @loc-hover: #111133;

            list-style-type: none;
            margin: 0;
            padding: 0;

            .tooltip {
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 2;
            }

            .tooltip-inner {
                background-color: @loc-hover;
            }

            .tooltip-arrow {
                border-top-color: @loc-hover;
            }

            .location a {
                position: absolute;
                cursor: pointer;
                z-index: 3;
                display: block;
                width: 1em;
                height: 1em;
                background-color: #12aaeb;
                border-radius: 50%;
                transition: .5s ease-in-out;

                &:hover {
                    background-color: @loc-hover;
                }
            }

            .berlin {
                left: 50.5%;
                top: 23%;
            }
            .heinrichsfelde {
                left: 50%;
                top: 21.5%;
            }
            .ostsee {
                left: 49%;
                top: 19%;
            }
            .sachsen {
                left: 51%;
                top: 26%;
            }
            .kampanien {
                left: 54%;
                top: 49%;
            }
            .teneriffa {
                left: 2%;
                top: 60%;
            }
            .west-of-england {
                left: 24%;
                top: 24%;
            }
        }
    }
}



