@loc-hover: #111133;

.map-nav {
    background: transparent !important;

    .nav {
        background: transparent !important;
    }
}

.fullscreen-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

svg a {
    list-style-type: none;
    margin: 0;
    padding: 0;

    path {
        transition: .5s ease-in-out;
    }

    path:hover {
        fill: @loc-hover !important;
    }
}

.tooltip {
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
}

.tooltip-inner {
    background-color: @loc-hover;
}

.tooltip-arrow {
    border-top-color: @loc-hover !important;
}

.location a {
    position: absolute;
    cursor: pointer;
    z-index: 3;
    display: block;
    width: 1em;
    height: 1em;
    background-color: #12aaeb;
    border-radius: 50%;
    transition: .5s ease-in-out;

    &:hover {
        background-color: @loc-hover;
    }
}





