{% extends "base.twig" %}

{% block nav %}
    <nav class="navbar navbar-fixed-top transparent home-nav" role="navigation">
{% endblock %}

{% block content %}
    <div class="home-content">
        <div class="home-head">
            <h2>{{ post.get_field('headline') }}</h2>
            <div class="subtext">{{ post.get_field('subtext') }}</div>
        </div>
    </div>
    <img class="fullscreen" src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}">
    <script>
        $(function () { objectFitImages() });
    </script>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}