{% extends "base.twig" %}

{% block nav %}
    <nav class="navbar navbar-fixed-top transparent " role="navigation">
{% endblock %}

{% block content %}
    <div class="home-wrapper">
        <img class="fullscreen" src="{{ post.thumbnail.src }}" alt="{{post.thumbnail.alt}}">
    </div>
{% endblock content %}