{% extends "base.twig" %}

{% block body %}
    <body class="{{body_class}} static map-body" data-template="base.twig">
{% endblock %}

{% block nav %}
    <nav class="navbar navbar-fixed-top map-nav" role="navigation">
{% endblock %}

{% block content %}
    <div class="fullscreen-map">
        {% include "includes/europe.twig" %}
    </div>
    <script>
        $(document).ready(function(){
            $( "svg a" ).tooltip({container:'body'})
        });
    </script>
{% endblock content %}

{% block footer %}
    
{% endblock footer %}